---
import Layout from '../layouts/Layout.astro';
import Message from '../components/Message.astro';
import RandomPacks from '../components/RandomPacks.astro';

const limit: number = 12;
---

<Layout meta="Packs porno gratis sin acortadores, aquí en OnlyPacks. Descubre la creciente colección de packs caseros y de famosas. Los más relevantes de alta calidad. ¡No hay otro canal de packs más popular y que presente más packs calientes que OnlyPacks! Navega a través de nuestra impresionante selección de packs porno en calidad HD en cualquiera de tus dispositivos." title="No se han encontrado resultados | OnlyPacks">
    <main class="max-w-screen-lg mx-auto p-4">
        <Message message="Página de error no encontrada 404 - OnlyPacks"/>
        <div class="my-3">
            <p class="text-xs text-white">Lo sentimos, pero no pudimos encontrar la página que estás buscando.</p>
            <a href="/" class="text-xs text-amber-500 hover:underline">Volver a la página principal</a>
        </div>
        <h2 class="text-white text-base">Packs calientes recomendados</h1>
        <RandomPacks server:defer className="mt-6 grid grid-cols-2 xs:grid-cols-3 lg:grid-cols-4 gap-4" limit={limit}/>
    </main>
</Layout>