---
export const prerender = false;
import type { RandomPacksResponse } from '../utils/types/definitions';
import { getStorePacks } from '../utils/feath';
import Layout from '../layouts/Layout.astro';
import Message from '../components/Message.astro';
import Gallery from '../components/Gallery.astro';
import { Favorite } from '../components/react/Favorites.jsx';

const storePacks = ["45g35gsfe5r6578546", "erer"]
const page: number = parseInt(Astro.url.searchParams.get("page") || "1");
const itemsPerPage: number = 12;
const offset: number = (page - 1) * itemsPerPage;

const { data }: RandomPacksResponse = await getStorePacks(itemsPerPage, offset, storePacks);
---


<Layout meta="Packs porno gratis sin acortadores, aquí en OnlyPacks. Descubre la creciente colección de packs caseros y de famosas. Los más relevantes de alta calidad. ¡No hay otro canal de packs más popular y que presente más packs calientes que OnlyPacks! Navega a través de nuestra impresionante selección de packs porno en calidad HD en cualquiera de tus dispositivos." title="Packs favoritos - Lista de tus packs favoritos | OnlyPacks">

	<Favorite client:only="react" view={data.packs.length}>
		<main slot="yes" class="max-w-screen-lg mx-auto p-4">
			<Message message="Tus packs favoritos" />
			<div class="my-3">
			  	<p class="text-xs text-white">Mostrando 1-2 de 2.</p>
			  	<button type="button" class="text-xs text-amber-500 hover:underline">
			 		Eliminar todos mis packs favoritos
			  	</button>
			</div>
			<h2 class="text-white text-base">
			  	Los packs que marques como favoritos podrían desaparecer si navegas en modo incógnito.
			</h2>
			<Gallery packs={data.packs} totalItems={data.stats.total} itemsPerPage={itemsPerPage} className="mt-6 grid grid-cols-2 xs:grid-cols-3 lg:grid-cols-4 gap-4"/>
		</main>
		<main slot="not" class="max-w-screen-lg mx-auto px-4 py-12">
			<div class="text-center">
			  	<div class="flex items-center justify-center">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-16 h-16 fill-white">
					  	<path d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
					</svg>
			  	</div>
			  	<h1 class="mt-8 text-lg font-semibold text-white">¡Bienvenido a tus packs favoritos!</h1>
			  	<p class="mt-6 text-base text-white">Parece que aún no tienes packs favoritos.</p>
			  	<p class="mt-6 text-base text-white">Los packs que marques como favoritos podrían desaparecer si navegas en modo incógnito.</p>
			  	<div class="mt-6">
					<a href="/" class="text-xs text-amber-500 hover:underline">
					  Volver a la página principal
					</a>
			  	</div>
			</div>
		  </main>
	</Favorite>
</Layout>

