---
export const prerender = false;
import type { PacksResponse } from '../utils/types/definitions';
import { getPacks } from '../utils/feath';
import Layout from '../layouts/Layout.astro';
import Trends from '../components/Trends.astro';
import Gallery from '../components/Gallery.astro';

const page: number = parseInt(Astro.url.searchParams.get("page") || "1");
const itemsPerPage: number = 12;
const offset: number = (page - 1) * itemsPerPage;

const { data }: PacksResponse = await getPacks(itemsPerPage, offset);
---

<Layout title="Packs">
	<main class="max-w-screen-lg mx-auto p-4">
		<Trends trends={data.trends}/>
		<Gallery packs={data.packs} totalItems={data.stats.total} itemsPerPage={itemsPerPage} />
	</main>
</Layout>
