---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery.astro';
import type { PacksResponse } from '../utils/types/definitions';
import { getSearchPacks } from '../utils/feath';

const page: number = parseInt(Astro.url.searchParams.get("page") || "1");
const search: string = Astro.url.searchParams.get("search") || "";
const itemsPerPage: number = 12;
const offset: number = (page - 1) * itemsPerPage;

const { data }: PacksResponse = await getSearchPacks(itemsPerPage, offset, search);
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="max-w-screen-lg mx-auto p-4">
			<Gallery packs={data.packs} totalItems={data.stats.total} itemsPerPage={itemsPerPage} />
		</div>
	</main>
</Layout>
