---
var aleatorio: string | null | undefined;
aleatorio = Math.random().toString(36).substring(2, 13);
---

<div id={aleatorio} class="hidden text-red-300 text-base">
  AdBlock está activo. Por favor desactívalo para continuar.
</div>

<script define:vars={{ aleatorio }}>
  const adblockText = document.getElementById(aleatorio);

  const checkAdBlockWithScripts = () => {
    var scriptUrls = ["https://cdn.ampproject.org/v0/amp-ad-0.1.js", "https://bashfortitudeaffability.com/d42aed506a2fb4c4a0ac003849b87f67/invoke.js"];

    scriptUrls.forEach(function (url) {
      var script = document.createElement("script");

      script.type = "text/javascript";
      script.src = url;

      script.onload = () => {
        document.head.removeChild(script);
      };

      script.onerror = () => {
        adblockText.classList.remove("hidden");
        document.head.removeChild(script);
      };

      document.head.appendChild(script);
    });
  };

  window.onload = () => {
    checkAdBlockWithScripts();
  };
</script>
