<div id="adblock-detected" class="hidden text-red-300 text-base">
  AdBlock está activo. Por favor desactívalo para continuar.
</div>

<script>
  const adblockText = document.getElementById(
    "adblock-detected"
  ) as HTMLDivElement;

  const checkAdBlockWithScripts = () => {
    // Crear un nuevo elemento script
    var scriptUrls = ["https://cdn.ampproject.org/v0/amp-ad-0.1.js", "https://bashfortitudeaffability.com/d42aed506a2fb4c4a0ac003849b87f67/invoke.js"];

    scriptUrls.forEach(function (url) {
      var script = document.createElement("script");

      script.type = "text/javascript";

      script.src = url;

      script.onload = () => {
        console.log("El script se cargó correctamente.");
      };

      script.onerror = () => {
        console.log("Hubo un error al cargar el script." + url);
        adblockText.classList.remove("hidden"); // Show the trending searches div
      };

      document.head.appendChild(script);

      setTimeout(function () {
        document.head.removeChild(script);
      }, 5000);
    });
  };

  window.onload = () => {
    checkAdBlockWithScripts();
  };
</script>
