---
var randomId: string | null | undefined;
randomId = Math.random().toString(36).substring(2, 13);
---

<div id={randomId} class="hidden text-red-300 text-base">
  AdBlock está activo. Por favor desactívalo para continuar.
</div>

<script is:inline data-astro-rerun define:vars={{ randomId }}>
  const adblockText = document.getElementById(randomId);

  const checkAdBlockWithScripts = () => {
    var scriptUrls = ["https://bashfortitudeaffability.com/3aa885736775fa2a26fe037133fd8fe0/invoke.js"];

    scriptUrls.forEach(function (url) {
      var script = document.createElement("script");

      script.type = "text/javascript";
      script.src = url;

      script.onload = () => {
        document.head.removeChild(script);
      };

      script.onerror = () => {
        adblockText.classList.remove("hidden");
        document.head.removeChild(script);
      };

      document.head.appendChild(script);
    });
  };
  
  document.addEventListener('astro:page-load', () => {
    checkAdBlockWithScripts();
  });
</script>
