<div class="w-full flex justify-center gap-6 mt-12 overflow-x-auto touch-pan-x hide-scroll">
    <script type="text/javascript">
        atOptions = {
            'key' : 'b65cbac21b4dabdf3c739100d710c98d',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
    </script>
    <script type="text/javascript" src="//bashfortitudeaffability.com/b65cbac21b4dabdf3c739100d710c98d/invoke.js"></script>
    <div class="max-xs:hidden">
        <script type="text/javascript">
            atOptions = {
                'key' : 'b65cbac21b4dabdf3c739100d710c98d',
                'format' : 'iframe',
                'height' : 250,
                'width' : 300,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//bashfortitudeaffability.com/b65cbac21b4dabdf3c739100d710c98d/invoke.js"></script>
    </div>
</div>