<div class="max-w-screen-lg mx-auto mt-12">
    <div class="relative w-full">
        <div id="container-74ab1e19ed6d6ad455a98aa963720ffb"></div>
        <div class="absolute top-5 right-5 text-sm font-medium text-white px-2 py-0.5 rounded bg-blue-500">
            Ads
        </div>
    </div>
</div>

<script is:inline async="async" data-cfasync="false" src="//bashfortitudeaffability.com/74ab1e19ed6d6ad455a98aa963720ffb/invoke.js"></script>