<form id="form-search" class="w-full">    
    <label for="search" class="sr-only">Search</label>
    <div class="relative">
        <input id="search" type="text" name="search" class="block w-full py-2 pl-4 pr-11 rounded-full border-0 text-white placeholder:text-neutral-400 text-base placeholder:text-base outline-none focus:outline-none focus:ring-1 focus:ring-inset focus:ring-neutral-700 bg-neutral-800" placeholder="Busca en Onlypacks..." autocomplete="off" required/>
        <button type="submit" class="absolute end-2 bottom-1.5 p-1 text-neutral-400 hover:text-white rounded-full hover:bg-neutral-400/20">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
        </button>
    </div>
</form>