<slot name="button" />

<div id="modal-search" class="hidden animation relative z-20">
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto backdrop-blur-sm dark:bg-black/80">
        <slot name="content" />
    </div>
</div>

<style>
    .modal {
        animation-name: fadeIn;
        animation-duration: 0.2s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>

<script>
    const modalSearch = document.getElementById('modal-search') as HTMLElement;
    const modalClose = document.getElementById('modal-close') as HTMLElement;
    const modalOpen = document.getElementById('modal-open') as HTMLButtonElement;
    const inputSearch = document.getElementById('input-search') as HTMLInputElement;

    const form =  document.querySelector('.form-search') as HTMLFormElement;
    const searchInput = document.querySelector('.search') as HTMLInputElement;
    // Handle form submission
    form.addEventListener('submit', (event) => {
        event.preventDefault(); // Prevent the default form submission

        const searchTerm = searchInput.value.trim(); // Get and trim the search term

        if (searchTerm) { // If the search term is not empty
            const params = new URLSearchParams({ search: searchTerm }); // Create URL parameters
            window.location.href = `/caseros/?${params.toString()}`; // Redirect to the search URL
        };
    });

    modalOpen.addEventListener('click', () => {
        document.body.classList.add('overflow-hidden');
        modalSearch.classList.remove('hidden');
        inputSearch.focus()
    });

    modalClose.addEventListener('click', () => {
        document.body.classList.remove('overflow-hidden');
        modalSearch.classList.add('hidden');
    });

    const checkScreenWidth = () => {
        if (window.innerWidth >= 700) modalSearch.classList.add('hidden');
    }

    // Check width on page load
    checkScreenWidth();

    // Add event listener for window resize
    window.addEventListener('resize', checkScreenWidth);
</script> 
