---
import type { RandomPacksResponse } from '../utils/types/definitions';
import { getRandomPacks } from '../utils/feath';
import Gallery from './Gallery'

const { data }: RandomPacksResponse = await getRandomPacks(12);
---

<h2 class="text-white text-base">Packs calientes recomendados</h1>
<Gallery client:only="react" packs={data.packs} className="mt-6 grid grid-cols-2 xs:grid-cols-3 lg:grid-cols-4 gap-4" />
