---
import type { IconsProps } from '../utils/types/definitions';
import { tabElements } from '../utils/data/data';
import { IconHome, IconCaseros, IconOnlyfans, IconTelegram } from './icons/astro/outline';

const { pathname } = Astro.url;

const iconMap: Record<string, ({ strokeWidth, className }: IconsProps) => Element> =  {
    INICIO: IconHome,
    CASEROS: IconCaseros,
    ONLYFANS: IconOnlyfans,
    TELEGRAM: IconTelegram,
};
---

<nav class="max-w-3xl mx-auto" aria-label="Page navigation">
    <ul class="flex flex-nowrap -mb-[2px] text-[11px] xs:text-xs tracking-wide font-medium text-neutral-350 xs:text-white">
        {tabElements.map((tab) => {
            const Icon = iconMap[tab.name];
            return (
                <li class={`w-full ${ pathname === tab.href && "border-b-2 border-b-amber-500" }`}>
                    <a href={tab.href} class="w-full inline-flex items-center justify-center py-2.5 xs:py-[9px] border-t border-x border-neutral-900 xs:border-transparent xs:hover:border-neutral-800 xs:hover:bg-neutral-900">
                        {Icon && <Icon className="max-xs:hidden w-5 h-5 me-3 stroke-white" />}
                        {tab.name}
                    </a>
                </li>
            );
        })}
    </ul>
</nav>
