---
import { IconXmark } from "./icons/astro/outline";
---

<div id="alert-banner" class="hidden w-full px-3 py-1" role="alert">
    <div class="flex items-center justify-center mx-auto">
        <p class="text-center text-xs font-medium text-neutral-400">
            Si el sitio no se carga correctamente, desactive el bloqueador de anuncios.
        </p>
        <button id="alert-button" type="button" class="ms-3 rounded-full p-px text-neutral-400 hover:text-white hover:bg-neutral-400/10" aria-label="Close alert">
            <IconXmark strokeWidth={2.5} className="w-5 h-5"/>
            <span class="sr-only">Dismiss</span>
        </button>
    </div>
</div>

<script>
    const alertBanner = document.getElementById('alert-banner') as HTMLElement;
    const alertButton = document.getElementById('alert-button') as HTMLButtonElement;

    if (localStorage.getItem('alertDismissed')) {
        alertBanner.remove();
    } else {
        alertBanner.classList.remove('hidden');
    };

    alertButton.addEventListener('click', () => {
        localStorage.setItem('alertDismissed', 'true');
        alertBanner.remove();
    });
</script>