---
import { ViewTransitions } from 'astro:transitions';

/* import AdBlockDetector from '../components/AdBlockDetector.astro';
 */

import Navbar from '../components/Navbar.astro';
import Tabs from '../components/Tabs.astro';

/* import Trends from '../components/Trends.astro'; */

import AdsFooter from '../components/AdsFooter.astro';
import Footer from '../components/Footer.astro';


interface Props {
	meta: string;
	title: string;
}

const { meta, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={meta} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
<!-- 	<script type='text/javascript' src='//bashfortitudeaffability.com/ae/93/d2/ae93d2cbe6d6cb244b8547c077e3db0a.js'></script> 
 -->
 		<ViewTransitions />
	</head>
	<body>
<!-- 
		<AdBlockDetector /> -->
		

		<header class="bg-neutral-900/60 border-b border-neutral-900">

			<div class="max-w-screen-lg mx-auto">

				<Navbar/>
	
				<Tabs/>
			
			</div>

		</header>

		<slot />

		<AdsFooter/>

		<Footer/>

		<!-- <script type='text/javascript' src='//bashfortitudeaffability.com/40/3c/d5/403cd58b57a2d7e97ac12e748eee98dd.js'></script> -->
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #000000;
	}

	.hide-scroll {
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    }

    .hide-scroll::-webkit-scrollbar {
        display: none; /* Hide the scroll bar in WebKit-based browsers */
    }

	.scrollbar {
		scrollbar-color: #f59e0b;
		scrollbar-width: 5px;
		overflow: hidden;
	}

	.scrollbar::-webkit-scrollbar {
	  	width: 4px;
		border-radius: 10px;
	}
	
	.scrollbar::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #f59e0b;
	}

	.scrollable::-webkit-scrollbar-track {
  		background-color: transparent;
	}
</style>
