---
import AdBlockDetector from '../components/AdBlockDetector.astro';
import Gallery from '../components/Gallery.astro';
import Navbar from '../components/Navbar.astro';
import Tabs from '../components/Tabs.astro';
import Trends from '../components/Trends.astro';
import Warning from '../components/Warning.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

<!--  <script type='text/javascript' src='//bashfortitudeaffability.com/ae/93/d2/ae93d2cbe6d6cb244b8547c077e3db0a.js'></script> -->
	</head>
	<body>
		<AdBlockDetector/>
		<Warning/>

		<div class="bg-neutral-950 border-b border-neutral-900">
			<div class="max-w-screen-lg mx-auto">

				<script type="text/javascript">
					atOptions = {
						'key' : 'b41012cf2ae5399724070c2dcd5ea082',
						'format' : 'iframe',
						'height' : 60,
						'width' : 468,
						'params' : {}
					};
				</script>
				<script type="text/javascript" src="//bashfortitudeaffability.com/b41012cf2ae5399724070c2dcd5ea082/invoke.js"></script>

				
				<Navbar/>
			<!-- 	<Searcher/> -->
				<Tabs/>
				
			</div>
		</div>

		<script type="text/javascript">
			atOptions = {
				'key' : '3aa885736775fa2a26fe037133fd8fe0',
				'format' : 'iframe',
				'height' : 90,
				'width' : 728,
				'params' : {}
			};
		</script>
		<script type="text/javascript" src="//bashfortitudeaffability.com/3aa885736775fa2a26fe037133fd8fe0/invoke.js"></script>

		<slot />

		<script async="async" data-cfasync="false" src="//bashfortitudeaffability.com/74ab1e19ed6d6ad455a98aa963720ffb/invoke.js"></script>
<div id="container-74ab1e19ed6d6ad455a98aa963720ffb"></div>

	<!-- 	<script is:inline src="//bashfortitudeaffability.com/40/3c/d5/403cd58b57a2d7e97ac12e748eee98dd.js"></script>
 -->
	</body>
</html>




<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #000000;
	}

	.scrollbar {
		scrollbar-color: #f59e0b;
		scrollbar-width: 5px;
	}

	.scrollbar::-webkit-scrollbar {
	  	width: 4px;
		border-radius: 10px;
	}
	
	.scrollbar::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #f59e0b;
	}

	.scrollable::-webkit-scrollbar-track {
  		background-color: transparent;
	}
</style>
